@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-emphasis: none;
    text-transform: none;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 7%;
    background: #eee;
    min-height: 100vh;
    gap: 15px;
    padding-bottom: 80px;
}

.container .content {
    flex: 1 1 400px;
}

.container .image {
    flex: 1 1 400px;
}

.container .image img {
    width: 100%;
}

.container .content .title {
    font-size: 45px;
    text-transform: none;
    color: #2980b9;
}

.container .content p {
    color: #666;
}

.container .count-down {
    display: flex;
    gap: 15px;
    padding: 10px 0;
}

.container .count-down .box {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #333;
    text-align: center;
    flex: 1 1 20px;
}

.container .count-down .box h3 {
    font-size: 50px;
    color: #333;
}

.container .count-down .box span {
    color: #2980b9;
    font-size: 20px;
}

.container .btn {
    display: inline-block;
    padding: 8px 50px;
    margin: 10px 0;
    font-size: 17px;
    background: #2980b9;
    color: #fff;
    transition: .2s ease-out;
}

.container .btn:hover {
    letter-spacing: 2px;
}

@media (max-width: 500px) {
    .container {
        padding: 20px;
    }

    .content {
        text-align: center;
    }

    .title {
        font-size: 35px;
    }

    p {
        font-size: 14px;
    }

    .count-down {
        gap: 5px;
    }

    .box h3 {
        font-size: 30px;
    }

    .box span {
        font-size: 15px;
    }
}
